<app-barra-consulta-mensal *ngIf="!carregando" visible="false" [listagemComFiltros]="getListagemComFiltros()"
    (atualizando)="atualizar($event)" (inserindo)="novo($event)" (definirFiltro)="definirFiltragem()"
    [exibirNovo]="false" (voltando)="voltar()">
</app-barra-consulta-mensal>

<app-loading [exibir]="carregando"></app-loading>

<div class="conteiner-fluid cartoes">
    <div class="structure">
        <div class="structure divided-first">
            <div class="caixa h-100">
                <div class="row">
                    <div class="col col-lg-4">
                        <div class="card card-social">
                            <div class="card-block border-bottom">
                                <div class="row align-items-center justify-content-center">
                                    <div class="col-auto">
                                        <em class="fa fa-clock-o fa-3x"></em>
                                    </div>
                                    <div class="col text-right">
                                        <h3 class="text-right">Mão de Obra</h3>
                                        <h5 class="text-c-green"><strong> +
                                                <ng2-odometer [number]="maoDeObra" [config]="configShowNumber"
                                                    class="text-c-green"> </ng2-odometer> %</strong>
                                            <span class="text-muted"> Ideal</span></h5>
                                    </div>
                                </div>
                            </div>
                            <div class="card-block">
                                <div class="row align-items-center justify-content-center card-active">
                                    <div class="col-6">
                                        <h6 class="text-center m-b-10">Horas
                                            Trabalhadas(HT):<strong>{{maoDeObraHT | number : '1.2-2'}}%</strong></h6>
                                        <div class="progress">
                                            <div class="progress-bar progress-c-theme-mao" role="progressbar"
                                                [ngStyle]="{width: maoDeObraHTStrg}" aria-valuenow="60"
                                                aria-valuemin="0" aria-valuemax="100"></div>
                                        </div>
                                    </div>
                                    <div class="col-6">
                                        <h6 class="text-center  m-b-10">Horas Disponiveis(HD): <strong>
                                                {{maoDeObraHD | number : '1.2-2'}}%</strong>
                                        </h6>
                                        <div class="progress">
                                            <div class="progress-bar progress-c-theme" role="progressbar"
                                                [ngStyle]="{width: maoDeObraHDStrg}" aria-valuenow="45"
                                                aria-valuemin="0" aria-valuemax="100"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="structure divided-second">
            <div class="caixa h-100">
                <div class="row">
                    <div class="col col-lg-4">
                        <div class="card card-social">
                            <div class="card-block border-bottom">
                                <div class="row align-items-center justify-content-center">
                                    <div class="col-auto">
                                        <em class="fa fa-tachometer fa-3x"></em>
                                    </div>
                                    <div class="col text-right">
                                        <h3 class="text-right">Produtividade</h3>
                                        <h5 class="text-c-purple"><strong>+
                                                <ng2-odometer [number]="produtividade" [config]="configShowNumber"
                                                    class="text-c-purple"> </ng2-odometer> %</strong>
                                            <span class="text-muted"> Ideal</span></h5>
                                    </div>
                                </div>
                            </div>
                            <div class="card-block">
                                <div class="row align-items-center justify-content-center card-active">
                                    <div class="col-6">
                                        <h6 class="text-center m-b-10">Horas Vendidas(HV):
                                            <strong>{{produtividadeHV | number : '1.2-2'}}%</strong></h6>
                                        <div class="progress">
                                            <div class="progress-bar progress-c-theme-produtividade" role="progressbar"
                                                [ngStyle]="{width: produtividadeHVStrg}" aria-valuenow="60"
                                                aria-valuemin="0" aria-valuemax="100"></div>
                                        </div>
                                    </div>
                                    <div class="col-6">
                                        <h6 class="text-center  m-b-10">Horas Trabalhadas(HT):
                                            <strong>{{produtividadeHT | number : '1.2-2'}}%</strong></h6>
                                        <div class="progress">
                                            <div class="progress-bar progress-c-theme" role="progressbar"
                                                [ngStyle]="{width: produtividadeHTStrg}" aria-valuenow="45"
                                                aria-valuemin="0" aria-valuemax="100"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="structure divided-third">
            <div class="caixa h-100">
                <div class="row">
                    <div class="col col-lg-4">
                        <div class="card card-social">
                            <div class="card-block border-bottom">
                                <div class="row align-items-center justify-content-center">
                                    <div class="col-auto">
                                        <em class="fa fa-line-chart fa-3x"></em>
                                    </div>
                                    <div class="col text-right">
                                        <h3 class="text-right">Eficiência</h3>
                                        <h5 class="text-c-blue"> <strong>+
                                                <ng2-odometer [number]="eficiencia" [config]="configShowNumber"
                                                    class="text-c-blue"> </ng2-odometer> %</strong>
                                            <span class="text-muted"> Ideal</span>
                                        </h5>
                                    </div>
                                </div>
                            </div>
                            <div class="card-block">
                                <div class="row align-items-center justify-content-center card-active">
                                    <div class="col-6">
                                        <h6 class="text-center m-b-10">Horas Vendidas(HV): <strong>
                                                {{eficienciaHV | number : '1.2-2'}}%</strong></h6>
                                        <div class="progress">
                                            <div class="progress-bar progress-c-theme-eficiencia" role="progressbar"
                                                [ngStyle]="{width: eficienciaHVStrg}" aria-valuenow="0"
                                                aria-valuemin="0" aria-valuemax="100"></div>
                                        </div>
                                    </div>
                                    <div class="col-6">
                                        <h6 class="text-center  m-b-10">Horas Disponiveis(HD):<strong>
                                                {{eficienciaHD | number : '1.2-2'}}%</strong></h6>
                                        <div class="progress">
                                            <div class="progress-bar progress-c-theme" role="progressbar"
                                                [ngStyle]="{width: eficienciaHDStrg}" aria-valuenow="45"
                                                aria-valuemin="0" aria-valuemax="100"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>


    <div class="conteudo">

        <div *ngIf="!carregando">
            <div class="row">
                <div class="bottom-dealer">
                    <div class="botaoNomeDealer font-nome-size">
                        <em class="fa fa-car"></em>
                        &nbsp;&nbsp;&nbsp; {{nome}} &nbsp;&nbsp;&nbsp;
                        <a href="javascript:;" (click)="ocultarJaguar()"></a>
                    </div>
                </div>
                <div class="row dealersTitulo">
                    <div class="col-sm-4 gridDescricaoStatus maoDeObra">
                        Mão de Obra
                    </div>
                    <div class="col-sm-4 gridDescricaoStatus produtividade">
                        Produtividade
                    </div>
                    <div class="col-sm-4 gridDescricaoStatus eficiencia">
                        Eficiência
                    </div>
                </div>

            </div>

        </div>




        <div *ngIf="!carregando">
            <app-gridview [ExibirBotaoDetalhes]="exibirBotaoDetalhes"
                [visualizarTotalRegistros]="visualizarTotalRegistros" [PaginaAtual]="paginaAtual"
                [QuantidadeRegistrosPagina]="quantidadeRegistrosPagina" [Estrutura]="estrutura" [Dados]="dados"
                [Borda]="false" [total_registros]="total_registros" (ver)="ver($event)"
                [Paginacao]="listagemComPaginacao" (mudarQuantidadePorPagina)="mudarQuantidadePorPagina($event)"
                (mudarPaginaAtual)="mudarPaginaAtual($event)">
            </app-gridview>



        </div>
    </div>

</div>