.form-group .control-label {margin-bottom: 0;}
.form-group .help-block {display: none;}
.form-group.has-feedback.has-error .help-block {display: block;}
.form-group.has-feedback.has-error .help-block small {color: red;}